/* .headerContainer {
    
}
 */
.logoStrip {
    display: flex;
    background-color: #eee;
    justify-content: center;
    width: 100%;
    min-width: 812px;
    margin-bottom: 1rem;
}

.stripContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    h1 {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    p {
        padding: 0.3rem 0 0.25rem 2rem;
        margin-top: 1rem;
        border-left: 1px solid #555;
        text-decoration: none;
        color: #555;
        cursor: auto;
    }
    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
    }
    span {
        color: #000;
        margin-left: auto;
        padding: 0 0.3rem;
    }
    img {
        margin-top: 0.3rem;
    }
}
.homeLogo {
    //margin-left: 12%;
    padding-top: 0.1rem;
    cursor: pointer;
}

.mainImage {
    display: flex;
    justify-content: center;
    width: 100%;
}

.adminHeader {
    font-size: 1.6rem;
    color: #555;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        list-style-type: none;
        li {
            padding: 1rem;
        }
        a {
            text-decoration: none !important;
        }
    }
}
