* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 1080px) {
    html {
        font-size: 83.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 60%;
    }
}

body {
    background-color: #fff;
}

body,
input,
textarea,
button {
    font: 500 1rem Inter, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: Lexend, sans-serif;
    color: #222;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: inherit;
}

.link {
    cursor: pointer;
}

td.link,
th.link {
    text-align: center;
}

.dropdown-menu {
    display: none !important;
}

.dropdown-menu.show {
    display: block !important;
}

.menu {
    display: flex !important;
}

.customContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 10%;
}

.cardapioCategoriaBlock {
    margin: 1.5rem 0;
}

@mixin cardapioElement {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
}

.cardapioItem {
    display: flex;
    width: 45rem;
    border-bottom: #ddd 1px solid;

    &--text {
        @include cardapioElement();
    }
    &--image {
        @include cardapioElement();
    }

    &--price::before {
        content: "R$ ";
    }
    &--price {
        @include cardapioElement();
        display: inline-block;
        font-weight: 500;
        margin-left: auto;
        padding-top: 3.5%;
    }
}
